<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="stylesheets/style.css"></link>
    <link rel="stylesheet" href="stylesheets/carousel.css"></link>
    <script src="components/webrtc/webrtc.io.js"></script>
  </head>
  <body onload="init()">
    <div id="videos">
      <video id="you" class="flip" autoplay="true" controls  width="263" height="200" style="position: absolute; left: 0px; bottom: 0px;"></video>
    </div>

    <div id="chatbox">
      <div id="hideShowMessages" class="button">toggle chat</div>
      <div id="messages"></div>
      <input id="chatinput" type="text" placeholder="Message:"/>
    </div>

    <div class="buttonBox">
      <div id="speak" class="button">Speak</div>
      <div id="fullscreen" class="button">Enter Full Screen</div>
      <div id="newRoom" class="button">Create A New Room</div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
    <script src="javascripts/meeting.js"></script>
  </body>
</html>
